.additional-products {
  width: 100%;
  overflow: hidden;
}

.additional-products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  position: relative;
  display: inline-block;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px;

    &::before {
      content: "";
      position: absolute;
      width: 1000%;
      height: 2px;
      background-color: @green;
      top: 62%;
      right: 100%;
      z-index: -1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 1000%;
    height: 2px;
    background-color: @green;
    top: 62%;
    left: 100%;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    margin-left: -36px;
  }
}

.additional-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-top: 75px;
    border: 1px solid @darken-grey;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
    border: none;
    margin: 0;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 26px 5.36% 28px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 40px;
    padding: 15px 0 17px;

    &:first-child {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: @darken-grey;
        top: 0;
      }
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: @darken-grey;
    position: absolute;
    top: 0;

    @media (min-width: @tablet-width) {
      bottom: 0;
      top: auto;
      box-sizing: content-box;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      box-sizing: border-box;
      width: 895px;
    }
  }

  &:last-child {
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: @darken-grey;
      position: absolute;
      bottom: 0;

      @media (min-width: @tablet-width) {
        content: none;
      }
    }
  }
}

.additional-products__wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 33px 6.25% 35px;

  @media (min-width: @tablet-width) {
    padding: 0 3.95%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
    margin-bottom: 86px;
    padding: 0 110px;
  }
}

.additional-products__title-wrapper {
  max-width: 1440px;
  padding: 0 6.25%;
  padding-top: 25px;
  position: relative;

  &::before {
    content: "";
    background-color: @grey;
    width: 150%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: @tablet-width) {
      content: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 3.95%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.additional-products__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
  }
}

.additional-products__content {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    align-items: center;
  }
}

.additional-products__description {
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    gap: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    padding-top: 5px;
  }
}

.additional-products__gift {
  margin-top: 35px;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional-products__order-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 244px;
  }
}

.additional-products__description-price {
  @media (min-width: @desktop-width) {
    width: 42px;
  }
}
