.additional-products {
  width: 320px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }
}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.additional-products__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.additional-products__description {
  font-size: 14px;
  line-height: 14px;
  color: @dark-grey;
}
