.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--bigger-content {
    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 0px;
    }
  }

  &--primary {
    color: @white;
    background-color: @green;

    &:hover {
      background-color: @darken-green;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &--secondary {
    color: @dark-grey;
    background-color: @basic-grey;

    &:hover {
      background-color: @hover-grey;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
