.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;

  &--primary {
    color: @white;
    background-color: @green;
  }

  &--secondary {
    color: @dark-grey;
    background-color: @basic-grey;
  }
}
