.diet-advertisement {
  background: linear-gradient(180deg, @green 302px, #ffffff 302px);
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0 100%), url("../../img/diet-background.jpg");
  background-size: 320px 302px;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0 20px;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }
}

.diet-advertisement__title {
  text-align: center;
  color: @white;
}

.diet-advertisement__description {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  color: @white;
  text-transform: uppercase;
}

.diet-advertisement__link {
  text-decoration: none;
}
