.diet-selection {
  width: 100%;
  padding: 0 6.25%;
  max-width: 1440px;

  @media (min-width: @tablet-width) {
    padding: 0 3.9%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.diet-selection__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-top: 9px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 80px;
    margin: 0;
  }
}

.diet-selection__item {
  &:not(:first-child) {
    margin-top: 24px;

    @media (min-width: @tablet-width) {
      margin-top: 30px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 0;
    }
  }
}
