.display-more__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-black;
}

.display-more__description {
  font-size: 12px;
  line-height: 16px;
}
