.footer__socials-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 20px 0;
  width: 100%;
  border: 1px solid @special-grey;
  border-left-color: transparent;
  border-right-color: transparent;

  @media (min-width: @tablet-width) {
    width: auto;
    border: none;
    padding: 0;
    padding-left: 20px;
  }
}

.footer__socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socials-link-logo {
  fill: @special-dark-grey-2;
}

.footer__socials-link {
  display: block;

  &:hover .footer__socials-link-logo {
    fill: @green;
  }

  &:focus-visible .footer__socials-link-logo {
    fill: @green;
  }

  &:active .footer__socials-link-logo {
    opacity: 0.6;
  }
}


.footer {
  background-color: @basic-grey;
}

.footer__container {
  width: 100%;
  padding: 0 6.25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;

  @media (min-width: @tablet-width) {
    padding: 55px 3.9%;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 110px 66px;

    &--catalog,
    &--form {
      padding: 67px 110px 66px;
    }
  }
}

.footer__text-logo-link {
  padding-top: 38px;
  padding-bottom: 14px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.footer__text-logo-image {
  @media (min-width: @tablet-width) {
    width: 142px;
    height: 26px;
  }
}
