.office-location__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-black;
  width: 139px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 164px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 5px;
  }
}

.office-location__address {
  line-height: 20px;
  font-style: normal;
  color: @dark-grey;
  width: 139px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    width: 164px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }

  &--br-none {
    @media (min-width: @desktop-width) {
      width: 119px;

      br {
        display: none;
      }

      .office-location__city {
        margin-top: 0;
      }
    }
  }
}

.office-location__city {
  display: block;

  @media (min-width: @tablet-width) {
    margin-top: 18px;
    display: block;
  }
}

.office-location {
  position: relative;

  &--grey {
    background-color: @basic-grey;
  }
}

.office-location__centerer {
  @media (min-width: @desktop-width) {
    width: 565px;
    height: 200px;
    position: absolute;
    left: 7.65%;
    top: 96px;

    &--index {
      top: 88px;
    }
  }
}

.office-location__wrapper {
  width: 100%;
  padding: 26px 6.25%;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: @desktop-width) {
    width: 565px;
    height: 198px;
    position: absolute;
    background-color: @white;
    padding: 60px 79px;
    justify-content: flex-start;
    gap: 93px;
    overflow: hidden;
  }

  &:has(.office-location__address--br-none) {
    @media (min-width: @tablet-width) {
      gap: 88px;
    }

    @media (min-width: @desktop-width) {
      padding: 55px 79px 37px;
    }
  }
}

.office-location__image {
  width: 100%;
  max-height: 400px;
}

.office-location__map {
  width: 100%;
  height: 362px;
  background-image: url("../img/static-map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    height: 400px;
    background-image: url("../img/static-map--tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/static-map--desktop.jpg");
  }
}
