.office-location__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 20px;
}

.office-location__address {
  line-height: 20px;
  font-style: normal;
  padding: 0 20px;
  color: @special-dark-grey;
}
