.order-gift {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 250px;
  }
}

.order-gift__wrapper {
  background-color: @green;
  background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0 100%), url("../../img/diet-gift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 61px 43px 58px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85) 0 100%), url("../../img/diet-gift@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    margin: 69px 0 76px;
    flex-direction: row;
    padding: 66px 124px 69px 90px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 63px 37px 42px 41px;
    flex-direction: column;
    gap: 58px;
  }
}

.order-gift__text {
  color: @white;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-top: 61px;
  text-align: center;

  br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 161px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 161px;
    text-align: center;
  }
}
