.product-card__name {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__description-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card__description-name,
.product-card__description-value {
  font-size: 12px;
  line-height: 16px;
}
