.progress-calculation {
  width: 320px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding: 0 110px;
  }
}

.progress-calculation__text {
  color: @dark-grey;
}

.progress-calculation__feature {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.progress-calculation__description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.progress-calculation__total {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
